/* Home.module.css */
.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.overlayImage {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  animation: scale 2s infinite;

}

@keyframes scale {
  0% {
    transform: translate(-50%) scale(1.1);
  }
  50% {
    transform: translate(-50%) scale(1.5);
  }
  100% {
    transform: translate(-50%) scale(1.1);
  }
}
